In [3]:
import glob
import itertools
import pandas as pd
from pysam import VariantFile

/var/folders/h7/fr7g30_x5x12d68ww_s6w2_m0000gn/T/ipykernel_21784/3939419213.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [53]:
filepath = '/Users/melloo21/Desktop/NUS Items/CS4220/data/test'
# mutec = "real1-mutect2.vcf"
# freebayes = "real1-freebayes.vcf"
# vardict = "real1-vardict.vcf"
# varscan = "real1-varscan.vcf"

In [25]:
files = glob.glob('/Users/melloo21/Desktop/NUS Items/CS4220/data/real1/*.bed',
                   recursive = True) 

for file in files:
    real1_truth_bed = pd.read_csv(file,sep='\t', comment='t', header=None)
header = ["chrom","posStart","posEnd"]
real1_truth_bed.columns = header[:len(real1_truth_bed.columns)]

In [42]:
display(real1_truth_bed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   chrom     1319 non-null   object
 1   posStart  1319 non-null   int64
 2   posEnd    1319 non-null   int64
dtypes: int64(2), object(1)
memory usage: 31.0+ KB

None

In [30]:
print(f" Length of unique start pos {len(real1_truth_bed.posStart.unique())}")

 Length of unique start pos 1319

In [24]:
real1_df = pd.read_csv("/Users/melloo21/Desktop/NUS Items/CS4220/data/original-real-1-parse.txt",sep='\t')

/var/folders/h7/fr7g30_x5x12d68ww_s6w2_m0000gn/T/ipykernel_21784/3992373429.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  real1_df = pd.read_csv("/Users/melloo21/Desktop/NUS Items/CS4220/data/original-real-1-parse.txt",sep='\t')

,Chr,START_POS_REF,END_POS_REF,REF,ALT,REF_MFVdVs,ALT_MFVdVs,Sample_Name,FILTER_Mutect2,FILTER_Freebayes,FILTER_Vardict,FILTER_Varscan,m2_MQ,f_MQMR,vs_SSC,vs_SPV,vd_SSF,vd_MSI
0,1,13110,13110,G,A,G/NA/G/G/,A/NA/A/A/,icgc_cll-T,True,False,False,False,41.91,NaN,2.0,0.522430,0.23427,2.0
1,1,15015,15015,G,C,G/NA/NA/G/,C/NA/NA/C/,icgc_cll-T,True,False,False,False,43.42,NaN,5.0,0.302390,NaN,NaN
2,1,16949,16949,A,C,NA/NA/NA/A/,NA/NA/NA/C/,icgc_cll-T,False,False,False,True,NaN,NaN,16.0,0.023282,NaN,NaN
3,1,40552,40552,T,C,NA/NA/NA/T/,NA/NA/NA/C/,icgc_cll-T,False,False,False,True,NaN,NaN,26.0,0.002231,NaN,NaN
4,1,46907,46907,T,C,NA/NA/NA/T/,NA/NA/NA/C/,icgc_cll-T,False,False,False,True,NaN,NaN,17.0,0.017670,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49315,Y,59028157,59028157,T,C,T/NA/NA/NA/,C/NA/NA/NA/,icgc_cll-T,True,False,False,False,54.17,NaN,NaN,NaN,NaN,NaN
49316,Y,59028833,59028833,G,T,G/NA/NA/NA/,T/NA/NA/NA/,icgc_cll-T,True,False,False,False,56.34,NaN,NaN,NaN,NaN,NaN
49317,Y,59030255,59030255,G,A,G/NA/NA/NA/,A/NA/NA/NA/,icgc_cll-T,True,False,False,False,56.37,NaN,NaN,NaN,NaN,NaN
49318,Y,59031439,59031439,T,A,T/NA/T/T/,A/NA/A/A/,icgc_cll-T,True,False,False,False,54.38,NaN,2.0,0.525710,0.54983,1.0
49319,Y,59031799,59031799,T,C,T/NA/NA/NA/,C/NA/NA/NA/,icgc_cll-T,True,False,False,False,58.63,NaN,NaN,NaN,NaN,NaN

In [33]:
all_df = real1_truth_bed.merge(real1_df, left_on='posStart', right_on='START_POS_REF')

In [48]:
display(all_df)

,chrom,posStart,posEnd,Chr,START_POS_REF,END_POS_REF,REF,ALT,REF_MFVdVs,ALT_MFVdVs,...,FILTER_Mutect2,FILTER_Freebayes,FILTER_Vardict,FILTER_Varscan,m2_MQ,f_MQMR,vs_SSC,vs_SPV,vd_SSF,vd_MSI
0,1,2180985,2180985,1,2180985,2180985,A,G,A/A/A/A/,G/G/G/G/,...,True,True,True,False,60.00,60.0000,170.0,8.416100e-18,0.00000,2.0
1,1,5035185,5035185,1,5035185,5035185,C,T,C/C/C/C/,T/T/T/T/,...,True,True,True,True,59.77,60.0000,45.0,2.685800e-05,0.00000,1.0
2,1,8881322,8881322,1,8881322,8881322,G,A,G/G/G/G/,A/A/A/A/,...,True,True,True,False,60.00,59.8525,39.0,1.061600e-04,0.00007,3.0
3,1,8929624,8929624,1,8929624,8929624,A,G,A/A/A/A/,G/G/G/G/,...,True,True,True,False,59.58,60.0000,34.0,3.702700e-04,0.00004,5.0
4,1,9196716,9196716,1,9196716,9196716,C,T,C/NA/C/C/,T/NA/T/T/,...,True,False,True,True,60.00,NaN,16.0,2.043900e-02,0.03697,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,X,141680928,141680928,X,141680928,141680928,C,A,C/C/C/C/,A/A/A/A/,...,True,True,True,True,60.00,60.0000,10.0,8.461500e-02,0.08730,1.0
1270,X,142275497,142275497,X,142275497,142275497,T,C,T/T/T/T/,C/C/C/C/,...,True,True,True,False,60.00,60.0000,73.0,4.030200e-08,0.00000,2.0
1271,X,144737796,144737796,X,144737796,144737796,C,G,C/C/C/C/,G/G/G/G/,...,True,True,True,True,60.00,60.0000,18.0,1.380300e-02,0.01672,1.0
1272,Y,15154839,15154839,Y,15154839,15154839,G,C,G/G/G/G/,C/C/C/C/,...,True,True,True,False,60.00,60.0000,85.0,2.585400e-09,0.00000,6.0
1273,Y,15681833,15681833,Y,15681833,15681833,C,T,C/NA/C/NA/,T/NA/T/NA/,...,False,False,True,False,60.00,NaN,NaN,NaN,0.09358,2.0

In [47]:
1319-1274

45

In [56]:
pd.set_option('display.max_rows', 500)
real1_truth_bed[~real1_truth_bed.isin(list(all_df.posStart))].dropna().reset_index()

    index chrom     posStart       posEnd
0      47     1  105553679.0  105553679.0
1      87     1  236070218.0  236070218.0
2     107    10   27264403.0   27264403.0
3     109    10   29381097.0   29381097.0
4     111    10   37702476.0   37702476.0
5     116    10   55821614.0   55821614.0
6     126    10   75481547.0   75481547.0
7     137    10  100974667.0  100974667.0
8     169    11   38267894.0   38267894.0
9     184    11   68115417.0   68115417.0
10    192    11   90678328.0   90678328.0
11    194    11   91468563.0   91468563.0
12    224    12   42665316.0   42665316.0
13    250    12   84566996.0   84566996.0
14    301    13   73828680.0   73828680.0
15    317    13   87705328.0   87705328.0
16    347    14   30226911.0   30226911.0
17    378    14  106327637.0  106327637.0
18    414    16    5914105.0    5914105.0
19    457    17   37421088.0   37421088.0
20    470    18    4202589.0    4202589.0
21    476    18   26188355.0   26188355.0
22    490    18   49977665.0   49977665.0
23    540     2   51989311.0   51989311.0
24    573     2  117632946.0  117632946.0
25    589     2  154396626.0  154396626.0
26    591     2  157982471.0  157982471.0
27    638    20    9735395.0    9735395.0
28    700     3   34190777.0   34190777.0
29    719     3   61600000.0   61600000.0
30    741     3   87527546.0   87527546.0
31    762     3  119696016.0  119696016.0
32    802     4   20294893.0   20294893.0
33    848     4   92114472.0   92114472.0
34    886     4  157682870.0  157682870.0
35    941     5   57625733.0   57625733.0
36    956     5   88890356.0   88890356.0
37    975     5  109437603.0  109437603.0
38   1019     6   32948607.0   32948607.0
39   1032     6   83460027.0   83460027.0
40   1149     7  146115420.0  146115420.0
41   1157     8    4065944.0    4065944.0
42   1198     8   95172500.0   95172500.0
43   1270     9  106512241.0  106512241.0
44   1316     Y    6407994.0    6407994.0

In [55]:
mutec = "mutect2.vcf"
freebayes = "freebayes.vcf"
vardict = "vardict.vcf"
varscan = "varscan.vcf"

In [42]:
# open the file
mutec_vcf = VariantFile(f"{filepath}/{mutec}")
# fetch the variants
all_variants = mutec_vcf.fetch()
# only look at 3 records
variants = itertools.islice(all_variants, 121)

In [56]:
# Open all files
all_var_files = {
    "mutec": VariantFile(f"{filepath}/{mutec}"),
    "freebayes": VariantFile(f"{filepath}/{freebayes}"),
    "vardict": VariantFile(f"{filepath}/{vardict}"),
    "varscan": VariantFile(f"{filepath}/{varscan}")
}
# mutec_vcf = VariantFile(f"{filepath}/{mutec}")
# freebayes_vcf = VariantFile(f"{filepath}/{freebayes}")
# vardict_vcf = VariantFile(f"{filepath}/{vardict}")
# varscan_vcf = VariantFile(f"{filepath}/{varscan}")

In [57]:
all_algos = {
    "mutec": (list(),),
    "freebayes": (list(),),
    "vardict": (list(),),
    "varscan": (list(),),
}

for keys in all_algos:
    for record in all_var_files[keys].fetch():
        all_algos[keys][0].append(record.pos)
    all_algos[keys] += (len(all_algos[keys][0]),)

In [58]:
# Print all the lens of each file
for keys, item in all_algos.items():
    print(f"number of positions in {keys} :: {item[1]}")

number of positions in mutec :: 99821
number of positions in freebayes :: 199824
number of positions in vardict :: 199829
number of positions in varscan :: 199874

In [21]:
# Other parameters in the dataset
# 'alleles',
#  'alleles_variant_types',
#  'alts',
#  'chrom',
#  'contig',
#  'copy',
#  'filter',
#  'format',
#  'header',
#  'id',
#  'info',
#  'pos',
#  'qual',
#  'ref',
#  'rid',
#  'rlen',
#  'samples',
#  'start',
#  'stop',
#  'translate'
print(variant.alleles)

('T', 'G')

In [20]:
dir(variant)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'alleles',
 'alleles_variant_types',
 'alts',
 'chrom',
 'contig',
 'copy',
 'filter',
 'format',
 'header',
 'id',
 'info',
 'pos',
 'qual',
 'ref',
 'rid',
 'rlen',
 'samples',
 'start',
 'stop',
 'translate']